<div class="container">
  <div class="card mb-3 border border-primary shadow-0" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4 " >
        <span class="d-flex justify-content-center">Joined on {{profession.date_join}}</span>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profession.organization_name}}</h5>
          <p class="card-text">
           {{profession.organization_type}}<br>
            {{profession.designation}}
          </p>
          <p class="card-text">
            <small><a href="profession.url">{{profession.url}}</a> </small>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

