.card{
  background-color: aliceblue;
  alignment: center;
  margin-top: 5%;
}
form{
  padding: 3% 3%;
}
.form-check-input {
  margin: 5% 5%;
}
.form-check-label{
  margin: 4% 2%;
}
h1{
  margin-top: 5%;
}
label{
  font-size: 1.2rem;
}
button{
  margin-left: 1%;
  font-size: 1rem;
}
.file{
  margin-left: 0;
}
