.card{
  margin: 5% 25%;
  padding: 0 5%;
  width: 30rem;
  alignment: center;
  background-color: aliceblue;
}
form{
  margin-top: 5%;
}
h1{
  margin-top: 10%;
}
label{
  font-size: 1.5rem;
}
input{
  font-weight: 200;
}
button{
  font-size: 1rem;
  alignment: center;
}
