{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">People </h2>
            </div>
            <div class="row people">
                {% for prf in profile %}
                <div class="col-md-4 col-lg-3 item">
                    {% if prf.photo %}
                    <div class="box" style="background-image:url({{ prf.photo.url }})">

                    {% endif  %}
                        <div class="cover">
                            <h3 class="name">{{ prf.profile_of.name }}</h3>
                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}