.container{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.5rem;
}
.card{
  height: 27rem;
  background-color: aliceblue;
}
.contact button{
  margin: 5% 2%;
}
img{
  margin: 3% 0 3% 3%;
  height: 23rem;
  width: 22rem;
}
li{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.card-body{
  margin-top: 8%;
}
.contact{
  margin-top: 8%;
  font-size: 1rem;
}
i{
  margin-right: 2%;
}
.profession {
  margin-top: 5%;
}
.project {
  margin-top: 5%;
}
h1{
  margin-bottom: 3%;
}
.createProfile{
  margin: 2% 35%;
  font-size: 3rem;
}
.createProfile button{
  margin: 0% 22%;
}
